<div id="all" ng-show="optionshop == 'all'">
    <div id="shop">
        <div id="sidebar">
            <form id="filters_form">
                <div id="filters">
                    <rzslider
                        rz-slider-floor="slider.floor"
                        rz-slider-ceil="slider.ceil"
                        rz-slider-model="slider.min"
                        rz-slider-high="slider.max">
                    </rzslider>
                    <select id="plataforms" name="plataforms">
                        <option value="">Select a plataform</option>
                        <option ng-repeat="plataform in plataforms" value="{{plataform['plataforma']}}" ng-click="selectplataform()">{{plataform['plataforma']}}</option>
                    </select>
                    <select id="ages" name="ages">
                        <option value="">Select a age</option>
                        <option ng-repeat="age in ages" value="{{age}}" ng-click="selectage()">{{age}}</option>
                    </select>
                    <select id="genero" name="genero">
                        <option value="">Select a genre</option>
                        <option ng-repeat="genre in genres" value="{{genre['category_name']}}" ng-click="selectgenre()">{{genre['category_name']}}</option>
                    </select>
                </div>
                <button ng-click="applyfilters()">Apply filters</button>
                <button ng-click="cleanfilters()">Clean filters</button>
            </form>
        </div>
        <div id="container-products" ng-show="existproducts == true">
            <div class="card-shop" ng-repeat="videogame in allproducts">
                <div class="general_img">
                    <img src="{{videogame['img']}}"/>
                </div>
                
                <div class="infodiv">
                    <ul>
                        <li>{{videogame['nombre']}}</li>
                        <li>{{videogame['plataforma']}}</li>
                        <li>{{videogame['clasificacion']}}</li>
                        <li>{{videogame['estado']}}</li>
                    </ul>
                </div>
                <div class="divbutton">
                    <span class="likes">{{videogame['likes']}}</span>
                    <img class="like" ng-click="like()" src="frontend/assets/img/heart_like.png" ng-show="likes.indexOf(videogame.id) != -1">
                    <img class="not_like" ng-click="like()" src="frontend/assets/img/heart.png" ng-show="likes.indexOf(videogame.id) == -1">
                    <span class="views">{{videogame['views']}}</span>
                    <img class="eye" src="frontend/assets/img/eye.png">
                    <span class="price">{{videogame['precio']}}€</span>
                    <button class="showdetails" ng-click="details()">Show details</button>
                    <img class="cartbtn_shop" src="frontend/assets/img/cart.png">
                </div>
            </div>
        </div>
    </div>
    <div id="pagination">
       <button ng-click="previouspage()"><</button>
       <button ng-repeat="page in pages_showed" ng-click="changepage()">{{page}}</button>
       <button ng-click="nextpage()">></button>

    </div>
</div>
<div id="details" ng-show="optionshop == 'details'">
    <h1>{{detailsproduct['nombre']}}</h1>
    <img src="{{detailsproduct['img']}}" alt="">
    <div class="infodivdetails">
        <ul>
            <li><h2>State: {{detailsproduct['estado']}}</h2></li>
            <li><h2>Company: {{detailsproduct['companyia']}}</h2></li>
            <li><h2>Plataform: {{detailsproduct['plataforma']}}</h2></li>
            <li><h2>Clasification: {{detailsproduct['clasificaion']}}</h2></li>
            <li>
                <span id="spanviews">
                    <h2 class="views">{{detailsproduct['views']}}</h2>
                    <img src="frontend/assets/img/eye.png" class="eye">
                </span>
            </li>
            <li><h2>Price: {{detailsproduct['precio']}}€</h2></li>
        </ul>
    </div>
    <button ng-click="cleandetails()">Volver a la tienda</button>
</div>