<div id="home">
    <data-owl-carousel id="main-carousel" class="owl-carousel" carousel-type="{type:'main'}">
        <div owl-carousel-item="" ng-repeat="item in carousel" class="item">
            <div id="{{item['category_name']}}div">
                <img src="{{item['img']}}">
                <button id="{{item['category_name']}}" class="category" ng-click="category()">{{item['category_name']}}</button>
            </div>
        </div>
    </data-owl-carousel>
    <div id="plataformtextdiv">
        <h1>Plataforms</h1>
    </div>
    <data-owl-carousel id="secundary-carousel" class="owl-carousel" carousel-type="{type:'secundary'}">
        <div owl-carousel-item="" ng-repeat="item in plataforms" class="item">
            <div id="{{item['plataforma']}}div" class="plataformdiv">
                <img src="{{item['img']}}">
                <h1>{{item['plataforma']}}</h1>
                <button id="{{item['plataforma']}}" class="plataform" ng-click="plataform()">{{::item['plataforma']}}</button>
            </div>
        </div>
    </data-owl-carousel>
    <div id="relatedtextdiv">
        <h1>Related products</h1>
    </div>
    <div id="relateddiv">
        <div class="prod_content" ng-repeat="item in relatedshowed">
            <div class="img-prod"><img src="{{item.volumeInfo.imageLinks.thumbnail}}" alt="Generic placeholder image"></div>
            <h4>{{item.volumeInfo.title}}</h4>
            <p><a class="btn btn-default" href="{{item.volumeInfo.previewLink}}" role="button" target="_blank">Ver</a></p>
        </div>
    </div>
    <div id="buttonshowmorediv">
        <button id="show_more" ng-click="showrelated()">Show more...</button>
    </div>
</div>