<div id="rpbg">
    <div id="recover-password-div">
        <div id="content-recover">
            <form id="recover-form">
                <input id="password-recover" type="password" placeholder="Password" ng-model="passRecoverPassval" ng-keydown="validatePasswordRecoverPass()" ng-keyup="validatePasswordRecoverPass()">
                <p id="error-password-recover" class="error">{{passRecoverPassError}}</p>
                <input id="confpassword-recover" type="password" placeholder="Confirm Password" ng-model="confPassRecoverPassval" ng-keydown="validateConfPasswordRecoverPass()" ng-keyup="validateConfPasswordRecoverPass()">
                <p id="error-confpassword-recover" class="error">{{confPasswordRegisterError}}</p>
                <button name="login-btn" type="button" id="recover-password-cpass" ng-click="recoverPassword()">Recover password</button>
            </form>
        </div>
    </div>
</div>