<div id="rpbg">
    <div id="recover-password-div">
        <div id="content-recover">
            <form id="recover-form">
                <input id="email-recover" type="email" placeholder="Email" ng-model="emailRecoverPassval" ng-keydown="validateRecoverPassEmail()" ng-keyup="validateRecoverPassEmail()">
                <p id="error-email-recover" class="error">{{emailRecoverPassError}}</p>
                <button name="recover-password-mail" type="button" id="recover-password-mail" ng-click="requestRecoverPass()">Recover password</button>
            </form>
        </div>
    </div>
</div>