<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#/home" data-tr = "Homepage" class="nav-link"></a>
				</li>
				<li class="nav-item">
					<a href="#/contact" data-tr = "Contact Us" class="nav-link"></a>
				</li>
				<li class="nav-item">
					<a href="#/shop" data-tr = "Shop" class="nav-link"></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-tr="Language"></a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" data-tr = "Valencian" id = "btn-val" ng-click="changelang('val')"></a></li>
						<li><a class="dropdown-item" data-tr = "Spanish" id = "btn-es" ng-click="changelang('es')"></a></li>
						<li><a class="dropdown-item" data-tr = "English" id = "btn-en" ng-click="changelang('en')"></a></li>
					</ul>
				</li>
				<form class="d-flex">
					<div class = "input">
						<input id="input_search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" autocomplete=off ng-model="inputsearch" ng-keyup="autoComplete()">
						<div id="searchAutocomplete" ng-show="found == true">
							<div ng-repeat="names in resultsearch">{{names['nombre']}}</div>
						</div>
					</div>
					<button id="button_search" name="button_search" class="btn btn-outline-success" type="button" ng-click="searchjump()">Search</button>
				</form>
			</ul>
			<div id="account-navbar">
				<ul class="navbar-nav justify-content-end" ng-show="logued == true">
					<li class="nav-item">
						<a id="username_menu" class="nav-link"></a>
						<img src="" id="avatar_menu">
						<button id="logoutbtn-nav" class="btn btn-outline-success me-2">Logout</button>
					</li>
				</ul>
				<ul class="navbar-nav justify-content-end" ng-show="logued == false">
					<li class="nav-item">
						<button id="registerbtn-nav" class="btn btn-outline-success me-2" ng-click="registerbtn()">Register</button>
						<button id="loginbtn-nav" class="btn btn-outline-success me-2"ng-click="loginbtn()">Login</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>