<div id="cart">
    <div id="products" ng-show="cartexistproducts == true">
        <div class="card-cart" ng-repeat="cartitem in cartproducts ">
            <div class="info">
                <div class="product-name">
                    <h1>{{cartitem['nombre']}}</h1>
                </div>
                <div class="product-info">
                    <span>Precio unitario:</span>
                    <span>{{cartitem['precio']}}€</span>
                    <button class="substractbtn" ng-click="substQuant()">-</button>
                    <span>{{cartitem['cant']}}</span>
                    <button class="addbtn" ng-click="addQuant()">+</button>
                    <span>Total:</span>
                    <span>{{cartitem['total_product']}}€</span>
                    <button ng-click="deleteCart()">Eliminar</button>
                </div>
            </div>
            <div class="img-product">
                <img src="{{cartitem['img']}}" alt="">
            </div>
        </div>
    </div>
    <div id="checkout-cart">
        <span ng-show="cartexistproducts == true">Total: {{totalCart}}€</span>
        <button id="checkout-btn" ng-show="cartexistproducts == true" ng-click="checkout()">Checkout</button>
        <h1 ng-show="cartexistproducts == false">No hay productos en el carrito</h1>
    </div>
</div>